configuration {
    modi: "drun,run,window";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "foot";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Buscar ";
}

@theme "/dev/null"

* {
    bg-col: #1E1B18;
    bg-col-light: #2A2521;
    border-col: #F0A7B8;
    selected-col: #2A2521;
    pink: #F0A7B8;
    fg-col: #FAF5E8;
    grey: #8C8279;

    width: 600;
    font: "JetBrains Mono 10";
}

element-text, element-icon, mode-switcher {
    background-color: inherit;
    text-color: inherit;
}

window {
    height: 360px;
    border: 2px;
    border-color: @border-col;
    border-radius: 8px;
    background-color: @bg-col;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 5px;
    padding: 2px;
}

prompt {
    background-color: @pink;
    padding: 6px;
    text-color: @bg-col;
    border-radius: 3px;
    margin: 10px 0px 0px 10px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 10px 10px 0px 10px;
    text-color: @fg-col;
    background-color: @bg-col-light;
    border-radius: 3px;
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 10px 10px 10px;
    columns: 1;
    lines: 6;
    background-color: @bg-col;
}

element {
    padding: 5px;
    background-color: @bg-col;
    text-color: @fg-col;
    border-radius: 4px;
}

element-icon {
    size: 25px;
}

element selected {
    background-color: @selected-col;
    text-color: @pink;
}
